<div class="modal fade registeruser"
     id="detail_modal"
     data-backdrop="static"
     tabindex="-1"
     role="dialog"
     aria-labelledby="staticBackdrop"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">مشاهده اطلاعات</h5>
                <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal" data-dismiss="modal">
                    <span class="fe fe-14 fe-x"></span>
                </button>
            </div>
            <div class="modal-body" id="detail_modal_body"></div>
            <div class="modal-footer"></div>
        </div>
    </div>
</div>
