{% load static %}
<script src="{% static 'js/jquery.min.js' %}"></script>
{% comment %} <script src="{% static 'js/popper.min.js' %}"></script>  {% endcomment %}
{% comment %} <script src="{% static 'js/moment.min.js' %}"></script>  {% endcomment %}
<script src="{% static 'js/bootstrap.min.js' %}"></script>
{% comment %} <script src="{% static 'js/simplebar.min.js' %}"></script>  {% endcomment %}
{% comment %} <script src="{% static 'js/daterangepicker.js' %}"></script>  {% endcomment %}
{% comment %} <script src="{% static 'js/jquery.stickOnScroll.js' %}"></script>  {% endcomment %}
{% comment %} <script src="{% static 'js/tinycolor-min.js' %}"></script>  {% endcomment %}
{% comment %} <script src="{% static 'js/config.js' %}"></script> {% endcomment %}
{% comment %} <script src="{% static 'js/d3.min.js' %}"></script> {% endcomment %}
{% comment %} <script src="{% static 'js/topojson.min.js' %}"></script>  {% endcomment %}
{% comment %} <script src="{% static 'js/datamaps.all.min.js' %}"></script>  {% endcomment %}
{% comment %} <script src="{% static 'js/datamaps-zoomto.js' %}"></script>  {% endcomment %}
{% comment %} <script src="{% static 'js/datamaps.custom.js' %}"></script>  {% endcomment %}
{% comment %} <script src="{% static 'js/Chart.min.js'%}"></script>  {% endcomment %}
<script>
  /* defind global options */
  Chart.defaults.global.defaultFontFamily = base.defaultFontFamily;
  Chart.defaults.global.defaultFontColor = colors.mutedColor;
</script>
{% comment %} <script src="{% static 'js/gauge.min.js'%}"></script>  {% endcomment %}
{% comment %} <script src="{% static 'js/jquery.sparkline.min.js'%}"></script>  {% endcomment %}
{% comment %} <script src="{% static 'js/apexcharts.min.js'%}"></script>  {% endcomment %}
{% comment %} <script src="{% static 'js/apexcharts.custom.js'%}"></script>  {% endcomment %}
{% comment %} <script src="{% static 'js/jquery.mask.min.js'%}"></script>  {% endcomment %}
{% comment %} <script src="{% static 'js/jquery.steps.min.js'%}"></script>  {% endcomment %}
{% comment %} <script src="{% static 'js/jquery.validate.min.js'%}"></script>  {% endcomment %}
{% comment %} <script src="{% static 'js/jquery.timepicker.js'%}"></script>  {% endcomment %}
{% comment %} <script src="{% static 'js/dropzone.min.js'%}"></script>  {% endcomment %}
{% comment %} <script src="{% static 'js/uppy.min.js'%}"></script>  {% endcomment %}
{% comment %} <script src="{% static 'js/quill.min.js'%}"></script>  {% endcomment %}
{% comment %} <script src="{% static 'js/jquery.dataTables.min.js'%}"></script> {% endcomment %}
{% comment %} <script src="{% static 'js/dataTables.bootstrap4.min.js'%}"></script> {% endcomment %}
<script>
  var uptarg = document.getElementById('drag-drop-area');
  if (uptarg)
  {
    var uppy = Uppy.Core().use(Uppy.Dashboard,
    {
      inline: true,
      target: uptarg,
      proudlyDisplayPoweredByUppy: false,
      theme: 'dark',
      width: 770,
      height: 210,
      plugins: ['Webcam']
    }).use(Uppy.Tus,
    {
      endpoint: 'https://master.tus.io/files/'
    });
    uppy.on('complete', (result) =>
    {
      console.log('Upload complete! We’ve uploaded these files:', result.successful)
    });
  }
</script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-56159088-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag()
  {
    dataLayer.push(arguments);
  }
  gtag('js', new Date());
  gtag('config', 'UA-56159088-1');
</script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-56159088-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];

  function gtag()
  {
    dataLayer.push(arguments);
  }
  gtag('js', new Date());
  gtag('config', 'UA-56159088-1');
</script>
<script src="{% static 'js/apps.js'%}"></script>
<script src="{% static 'plugins/jalaliDatepicker/kamadatepicker.min.js'%}"></script>
<script src="{% static 'plugins/select2/select2.min.js'%}"></script> 
