<div class="modal fade bd-example-modal-xl"
     id="update_modal"
     tabindex="-1"
     role="dialog"
     aria-labelledby="varyModalLabel"
     aria-modal="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="varyModalLabel">ویرایش اطلاعات</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" class="btn btn-danger btn-sm">×</span>
                </button>
            </div>
            <div class="modal-body" id="update_modal_body"></div>
            <div class="modal-footer"></div>
        </div>
    </div>
</div>
{% comment %} <div class="modal fade registeruser" id="update_modal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdrop" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">ویرایش اطلاعات</h5>
                <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal" data-dismiss="modal">
                    <span class="fe fe-14 fe-x"></span>
                </button>
            </div>
            <div class="modal-body" id="update_modal_body"></div>
            <div class="modal-footer"></div>
        </div>
    </div>
</div> {% endcomment %}
