{% extends "base.html" %}
{% block content %}
    <div class="wrapper vh-100">
        <div class="row align-items-center h-100">
            <form class="col-lg-3 col-md-4 col-10 mx-auto text-center" action="{% url 'login' %}" method="post">
                {% csrf_token %}
                <a class="navbar-brand mx-auto mt-2 flex-fill text-center" href="/">
                    <img src="/assets/images/logo.png" alt="", class="img-fluid">
                </a>
                <h1>404</h1>
                <h3>صفحه مورد نظر شما وجود ندارد</h3>
                <p>روابط عمومی خانه ملت کاشان</p>
                <p class="mt-5 mb-3 text-muted">© 1401</p>
            </form>
        </div>
{% endblock content %}
