{% extends "base.html" %}
{% load static %}
{% comment %} {% load jformat %} {% endcomment %}
{% block content %}
    {% include 'base/navigator.html' %}
    {% include 'base/aside.html' %}
    <main role="main" class="main-content">
        <div class="container-fluid">
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-{% if message.tags %}{{ message.tags }}{% endif %} alert-dismissible fade show"
                         role="alert">
                        {{ message|safe }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">x</span>
                        </button>
                    </div>
                {% endfor %}
            {% endif %}
            <div class="row justify-content-center">
                <div class="col-12">
                    <h2 class="mb-2 page-title">{{ groupe }}</h2>
                    <p class="card-text">بانک جوانه متربیان کانون تربیتی حضرت مسلم ابن عقیل</p>
                    <div class="row my-4">
                        <!-- Small table -->
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-body">
                                    <table class="table table-bordered table-hover mb-0">
                                        <thead>
                                            <tr>
                                                <th>نام ونام خانوادگی</th>
                                                <th>موجودی جوانه</th>
                                                <th>عملیات</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for trns in students_transactions %}
                                                <tr>
                                                    <td>{{ trns.get_ttype_display }}</td>
                                                    <td>{{ trns.amount }}</td>
                                                    <td>{{ trns.descriptions }}</td>
                                                    
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- simple table -->
                </div>
                <!-- end section -->
            </div>
            <!-- .col-12 -->
        </div>
        <!-- .row -->
    </main>
    {% include 'base/createModal.html' %}
    {% include 'base/updateModal.html' %}
    {% include 'base/detailModal.html' %}
{% endblock content %}
{% block moreScript %}
    {% comment %} <script src="{% static 'customers/js/datatablescripts.js'%}"></script> {% endcomment %}
    {% comment %} <script src="{% static 'customers/plugins/jalaliDatepicker/kamadatepicker.min.js'%}"></script>
    <script>kamaDatepicker('id_register_date', {buttonsColor: "green", forceFarsiDigits: true});</script> {% endcomment %}
    <script>
function modal_url(url, type) {
    $.ajax({
        url: url,
        type: 'GET',
        success: function (data) {
            $("#"+ type +"_modal_body").html(data);
        }
    })
}
    </script>
{% endblock moreScript %}
